html {
    height: 100%;
}

body {
    position: relative;
    min-width: 320px;
    height: 100%;
    font: 14px/1.2 $arial;
    color: black;
    background-color: white;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
