.product
    .product__title Ты сегодня покормил кота?
    .product-list
        .product-list__item.product-item
            .product-name
                p.title.title_normal Сказочное заморское яство
                p.title.title_selected Котэ не одобряет?
                p.name Нямушка #[span.name-descr с фуа-гра]
            .product-bonus #[b 10] порций #[br]#[b мышь] в подарок
            .product-weight #[span.val 0,5] кг
            .product-slogan
                .product-slogan__text.product-slogan__text_normal Чего сидишь? Порадуй котэ, #[a(href="").link.link_dashed купи.]
                .product-slogan__text.product-slogan__text_active Печень утки разварная с артишоками.
                .product-slogan__text.product-slogan__text_disabled Печалька, с фуа-гра закончился.
        .product-list__item.product-item._disabled
            .product-name
                p.title.title_normal Сказочное заморское яство
                p.title.title_selected Котэ не одобряет?
                p.name Нямушка #[span.name-descr с рыбой]
            .product-bonus #[b 40] порций #[br]#[b 2 мыши] в подарок
            .product-weight #[span.val 2] кг
            .product-slogan
                .product-slogan__text.product-slogan__text_normal Чего сидишь? Порадуй котэ, #[a(href="").link.link_dashed купи.]
                .product-slogan__text.product-slogan__text_active Головы щучьи с чесноком да свежайшая семгушка.
                .product-slogan__text.product-slogan__text_disabled Печалька, с рыбой закончился.
        .product-list__item.product-item
            .product-name
                p.title.title_normal Сказочное заморское яство
                p.title.title_selected Котэ не одобряет?
                p.name Нямушка #[span.name-descr с курой]
            .product-bonus #[b 100] порций #[br]#[b 5 мышей] в подарок #[br]заказчик доволен
            .product-weight #[span.val 5] кг
            .product-slogan
                .product-slogan__text.product-slogan__text_normal Чего сидишь? Порадуй котэ, #[a(href="").link.link_dashed купи.]
                .product-slogan__text.product-slogan__text_active Филе из цыплят с трюфелями в бульоне.
                .product-slogan__text.product-slogan__text_disabled Печалька, с курой закончился.

